body {
    background-color: #f8f9fa !important;
}

.parallax {
    /* The image used */
    background-image: url("IMG_9314.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 39%29%;
     background-repeat: no-repeat;
    background-size: cover;
}

.main-page-header {
    color: white;
    text-align: center;
    align-self: center;
    font-size: 440%;
    font-style: oblique;
}

.main-page-content-header{
    padding-top:30px;
    text-align:center;
}

    .main-page-content-header h1 {
        font-weight: 300;
    }
.job-title-headeadings{
    margin-bottom:0px;
}

h4 {
    color: #17a2b8;
}